<div class="navbar" th:fragment="navbar">
    <div class="user-data">
        <span>Hi, <strong>[[${#request.userPrincipal.principal.fullname}]]</strong></span>
        <button id="openSidebar"><i class="fas fa-bars"></i></button>
    </div>
    <div class="weather-data">
        <div>
            <span th:text="${weatherData.name}"></span>
            <span th:text="${weatherData.weather[0].description}"></span>
            <span th:text="${weatherData.main.temp}"><strong>&#8451;</strong></span>
        </div>
        <img th:src="@{'http://openweathermap.org/img/w/'+ ${weatherData.weather[0].icon}+'.png'}"></img>
    </div>
</div>