<div class="sidebar" th:fragment="sidebar">
    <nav class="p-3">
        <div class="sidebar-head">
            <h1>OnFashion</h1>
            <button class="text-danger" id="closeSidebar">X</button>
        </div>
        <ul>
            <li><a th:href="@{/admin/dashboard}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
            <li><a th:href="@{/admin/category}"><i class="fas fa-layer-group"></i><span>Category</span></a></li>
            <li><a th:href="@{/admin/product}"><i class="fas fa-box-open"></i><span>Product</span></a></li>
            <li><a th:href="@{/admin/transaction}"><i class="fas fa-cart-arrow-down"></i><span>Transaction</span></a></li>
            <li><a th:href="@{/admin/user}"><i class="fas fa-user-check"></i><span>User</span></a></li>
        </ul>
        <div class="navbar">
            <div class="user-data">
                <span>Hi, <strong>Adi Adnyana</strong></span>
            </div>
        </div>
    </nav>
    <div class="logout p-3">
        <form th:action="@{/logout}" method="post">
            <button type="submit" id="logout" class="text-danger btn btn-transparent"><i class="fas fa-angle-left"></i><span>&nbsp;&nbsp;Logout</span></button>
        </form>
    </div>
</div>