
    <div  th:fragment="sidebar" class="sidebar-container">
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                      Menu
                    </a>
                </li>
                <li>
                    <a th:href="@{/admin/category}">Category</a>
                </li>
                <li>
                    <a href="#">Producs</a>
                </li>
                <li>
                    <a href="#">Transaction</a>
                </li>
                <li>
                    <a href="#">User</a>
                </li>
               
            </ul>
        </div>
   
      </div>
