<div th:fragment="footer">
    <section class="bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="news-footer">
                        <h2>Newsletter</h2>
                        <p>Subcribe to our newsletter</p>
                        <input type="text" placeholder="Email...">
                        <button class="btn-news">Send</button>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="link">
                        <p><a href="">About Us</a> | <a href="">Customer Service</a> | <a href="">Contact Us</a> | <a href="">Order and Return</a></p>
                        <p class="icon"><i class="fab fa-facebook"></i><i class="fab fa-instagram"></i><i class="fab fa-twitter"></i></p>
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <hr>
                    <div class="footer-bawah">
                        <img src="/frontend/images/logo.png" alt="">
                        <p>&copy; Copyright 2022</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>