<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Detail</title>
    <link rel="icon" href="/frontend/images/logo.png">
    <!-- Online Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Hind:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Local Styling -->
    <link rel="stylesheet" href="/frontend/css/style.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/f0f2d9386c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="wrapper">
        <div th:replace="frontend/fragments/navbar::navbar"></div>
        <section class="bg-detail">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="img-detail">
                            <img th:src="@{/images/products/} + ${productData.photo}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="flex-center w-100">
                            <div>
                                <div class="harga">
                                    <h1>
                                        <span th:text="${productData.name}">Basic Hoodie</span>
                                        <div class="tombol">
                                            <i class="far fa-heart"></i>
                                            <i class="fas fa-shopping-bag"></i>
                                        </div>
                                    </h1>
                                    <div class="star-harga">
                                        <img src="/frontend/images/star.png" alt="">
                                    </div>
                                    <hr>
                                    <h3 th:text="'Rp. ' + ${productData.price}">Rp. 300,000.00</h3>
                                </div>
                                <div class="deskripsi">
                                    <span>
                                        <strong>Description :</strong>
                                    </span>
                                    <p th:text="${productData.description}">
                                        Basic Hoodie is a simple cotton hoodie that is not too thick but is still warm, Faux fur embroidered brand print zip hoodie, Hooded neckline, Unlined, Regular fit, Zip and hood drawstring fastening, and 2 front pockets
                                    </p>
                                    <button data-bs-toggle="modal" data-bs-target="#transactionModal">Buy Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-review">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="judul">
                            <h1>Review Product</h1>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="review">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="img-review">
                                        <img src="/frontend/images/review1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                    <p>Orders arrive quickly, amazing product with fine materials <br><br> <span><strong>- Mr. Boni</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="review">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="img-review">
                                        <img src="/frontend/images/review2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                    <p>The material is very soft, very suitable for me who is very sensitive <br><br> <span><strong>- Mrs. Nanda</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="review">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="img-review">
                                        <img src="/frontend/images/review3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                    <p>Although it looks thin but it turns out to be very good to use and stays warm <br><br> <span><strong>- Mr. Wahyu</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="review">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                                    <div class="img-review">
                                        <img src="/frontend/images/review4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12">
                                    <p>Amazing, my boyfriend really likes this hoodie. thank you onFashion <br><br> <span><strong>- Mrs. May</strong></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-recom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="judul">
                            <h3>On <strong>Recommend</strong></h3>
                            <h1>Recommended Product</h1>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12" th:each="product : ${recommendedProduct}">
                        <a th:href="@{/product/} + ${product.product_id}">
                            <div class="produk">
                                <img th:src="@{/images/products/} + ${product.photo}" alt="">
                                <div class="text-produk">
                                    <div class="tombol">
                                        <i class="far fa-heart"></i>
                                        <i class="fas fa-shopping-bag"></i>
                                    </div>
                                    <h3 th:text="'Rp. ' + ${product.price}">Rp. 300,000.00</h3>
                                    <h2 th:text="${product.name}">Gathered Sweatshirt</h2>
                                    <div class="star">
                                        <img src="/frontend/images/star.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <div th:replace="frontend/fragments/footer::footer"></div>
    </div>

    <div class="modal fade" id="transactionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="transactionModal" th:text="'Order Form for ' + ${productData.name} + ' (Rp. ' + ${productData.price}">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="number" id="price" hidden th:field="*{productData.price}">
                    <form th:object="${transactionData}" th:action="@{/order}" method="post">
                        <input type="number" name="product_id" th:field="${productData.product_id}" hidden>
                        <div class="form-floating mb-3">
                            <input th:field="*{customer_name}" type="text" class="form-control" id="floatingName" placeholder="Adi Adnyana" required>
                            <label for="floatingName">Fullname *</label>
                            <span th:if="${#fields.hasErrors('customer_name')}" th:errors="*{customer_name}" class="text-danger">Name Error</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{email}" type="email" class="form-control" id="floatingEmail" placeholder="adiadnyana22@gmail.com" required>
                            <label for="floatingEmail">Email *</label>
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Email Error</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{phone_number}" type="text" class="form-control" id="floatingPhone" placeholder="+6281246868369" required>
                            <label for="floatingPhone">Phone Number *</label>
                            <span th:if="${#fields.hasErrors('phone_number')}" th:errors="*{phone_number}" class="text-danger">Phone Number Error</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{address}" type="text" class="form-control" id="floatingAddress" placeholder="Jl. Diponegoro No. 39 Pedungan" required>
                            <label for="floatingAddress">Address *</label>
                            <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="text-danger">Address Error</span>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea th:field="*{description}" class="form-control" placeholder="Leave a description here" id="floatingDescription" style="height: 100px"></textarea>
                            <label for="floatingDescription">Description</label>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-floating mb-3">
                                    <input name="quantity" type="number" class="form-control" id="floatingQuantity" placeholder="1" min="1" value="1">
                                    <label for="floatingQuantity">Quantity</label>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="form-floating mb-3">
                                    <input th:field="*{total_price}" type="text" class="form-control" id="floatingTotal" placeholder="1000" disabled>
                                    <label for="floatingTotal">Total Price</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-onfashion">Place Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Local Js -->
    <script>
        function openBar(){
            document.getElementById("bar").style.width = "100vw";
        }

        function closeBar(){
            document.getElementById("bar").style.width = "0";
        }

        const quantity = document.querySelector("#floatingQuantity");
        const total = document.querySelector("#floatingTotal");
        const price = document.querySelector("#price");
        total.value = `${quantity.value * price.value}`;
        quantity.addEventListener('change', () => {
            total.value = `${quantity.value * price.value}`;
        })
    </script>
    <script>
        document.querySelectorAll(".text-produk > h3").forEach((produk) => {
            produk.innerHTML = (produk.innerHTML.toString() + "0").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        })

        document.querySelectorAll(".harga > h3").forEach((produk) => {
            produk.innerHTML = (produk.innerHTML.toString() + "0").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        })

        document.querySelectorAll(".modal-header > h5").forEach((produk) => {
            produk.innerHTML = (produk.innerHTML.toString() + "0)").replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        })
    </script>
</body>
</html>